{% capture page-url %}{{ page.url | replace:'index.html','' | prepend: site.url | uri_escape }}{% endcapture %}
<div class="facebook">
	<div class="fb-like" data-href="{{ page-url }}" data-width="1000" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
</div>
